.upload-dataset-form {
    display: none;
    position: fixed;
    top: 55px;
    left: 0;
    padding-top: 20px;
    width: 100%;
    height: calc(100vh);
    z-index: 99;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.form-content {
    background-color: #FEFEFE;
    max-height: calc(100vh - 10rem);
    overflow: auto;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}
.close {
    color: #AAAAAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.dataset-loading {
    display: none;
    position: fixed;
    bottom: 0;
}
.menubar {
    height: 4rem;
    background: #FFF;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
    z-index: 10;
}
.add-btn {
    position: relative;
    top: -3px;
    padding: 6px 25px;
    color: #FFF;
    border: none;
    border-radius: 3px;
    background: #007BFF;
}
.add-btn:hover {
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
    transition: ease .3s;
}
.modal-btn {
    position: relative;
    top: -3px;
    padding: 6px 25px;
    margin-right: 1rem;
    color: #FFF;
    border: none;
    border-radius: 3px;
    background: #4d94ff;
}
.modal-btn:hover {
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
    transition: ease .3s;
}
#dataset-header{
    margin: 13px 30px;
    display: inline-block;
}
.filetype-badge{
    font-size: .4rem;
    padding: 2px 8px;
    border-radius: 4px;
    color: #FFF;
    box-shadow: -1px -1px 0 #CCC, 1px 1px 0 #111, 3px 3px 10px rgba(0,0,0,0.3);
}
.flex-row {
    display: flex;
    flex-flow: row wrap;
}
#info-sidebar {
    padding: 1.5rem;
    flex: 0 0 20rem;
    height: calc(100vh - 120px);
    background-color: #FFF;
    box-shadow: 0 -1px 3px rgba(0,0,0,0.3);
    z-index: -1;
}
.item-title {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.item-name {
    display: inline-block;
    width: 6rem;
    margin: 0.3rem 0;
    color: #777;
}
.item-content {
    display: inline-block;
    width: 10rem;
    /*align-items: center;*/
}
#dataset-table {
    flex: 0 0 calc(100% - 22.4rem);
    margin: 1.2rem 1.2rem auto 1.2rem;
    overflow: auto;
    /*background: #FFF;*/
    background: linear-gradient(to bottom right,#FFF,rgba(255,204,255,0.6));
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}
#dataset-table ul {
    margin: 0;
    padding: 0;
}
#dataset-table li {
    list-style-type: none;
    padding: 0 2.5rem;
}
#dataset-table li:hover {
    color: rgba(0,0,0,0.7);
    background-color: #FFF;
}
#dataset-table li+li {
    border-top: 1px solid rgba(0,0,0,0.3);
}
#no-dataset {
    height: 5rem;
    padding: 25px 30px;
    font-size: 20px;
    font-family: Sans-serif;
}
.li-item-name {
    display: inline-block;
    text-decoration: none;
    font-family: Sans-serif;
    font-size: 20px;
    padding: .5rem;
}
.li-item-name:hover {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    text-decoration: none;
}
#btn-group {
    position: relative;
    float: right;
}
.action-btn {
    width: 1.8rem;
    height: 1.8rem;
    background: none;
    border: none;
    border-radius: 50%;
    color: #5B90BF;
    cursor: pointer;
    margin-top: .6rem;
}
.action-btn:hover {
    /*background: linear-gradient(to bottom right,#FFF,#AAA);*/
    /*border: 1px solid #007BFF;*/
    font-size: 20px;
    color: #007BFF;
}
body {
    background: rgba(153, 255, 153, 0.1);
}
