#sidebar {
  position: absolute;
  width: 200px;
  height: calc(100% - 100px);
  background: #151719;
  overflow: auto;
  padding: 0 0;
}
#sidebar ul li {
  color:rgba(230,230,230,0.9);
  list-style:none;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}
.history-btns {
  width:100%;
  display: flex;
  flex-wrap: wrap;
}
.history-btn {
  flex-basis: 0;
  flex-grow: 1;
  color: #f8f9fa;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all .15s ease-in-out;
}
.history-btn:hover {
  background-color: #344;
}
#historyAction {
  color:rgba(230,230,230,0.9);
  background: #151719;
  width: 90px;
  border:0;
  /*border-bottom: 1px solid rgba(100,100,100,0.3);*/
  text-align: left;
}
#confirmAction {
  color:rgba(230,230,230,0.9);
  background: #151719;
  width: 80px;
  border:0;
  /*border-bottom: 1px solid rgba(100,100,100,0.3);*/
  text-align: left;
}
#sidebar .item a {
  padding:15px 10px;
  color:#EEEEEE;
  text-decoration:none;
}
#sidebar .item {
  border-bottom: 1px solid rgba(100,100,100,0.3);
}
#sidebar a:hover {
  color:#FFFFFF;
}
#history-detail {
  margin-left: 200px;
  padding:30px 30px;
  width:calc(100% - 230px);
  max-height: calc(100vh - 6.5rem);
  overflow:auto;
}
.time-text {
}
.evaluation-form {
    float: right;
    display: inline-block;
}

#project-tabs {
    background: rgba(153, 153, 153, 0.1);
}
#project-tabs .nav-link:hover {
    background: #FFF;
}
