#logo {
  text-align: center;
  /*padding: 1em 0;*/
}
#logo a{
  text-decoration: none;
  position: relative;
}
#logo img{
  vertical-align: middle;
}
#logo span{
  vertical-align: middle;
  font-size: 1em;
  /*font-family: 'serif';*/
  margin-left: .2em;
}

#project{
    background-color: #02d199;
    text-align: center;
    padding: 75px 0;
}
#feature{
    text-align: center;
    padding: 75px 0;
}
p{
    font-family: sans-serif;
}
#manage-project{
  /*padding:50px 0;*/
}
#history-list {
    position: -webkit-sticky;
    position: sticky;
    /*top: 4rem;*/
    z-index: 1000;
	max-height: calc(100vh - 4rem);
	height: calc(100vh - 6rem);
	width: 25%;
}
#history-detail{
  padding: 30px 30px;
  width: 75%;
}
.svg-container{
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  vertical-align: top;
  overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
#history-pagenation{
  position: absolute;
  padding: 0px 50px;
  bottom: 0;
}
.copyrightFooter{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #F5F5F5;
}
.card-right{
  position: absolute;
  right: 55px;
}
.modal{
  text-align: center;
}
/*@media screen and (min-width: 768px){*/
.modal:before{
display: inline-block;
vertical-align: middle;
content: "";
height: 100%;
}
#login-card:before{
display: inline-block;
/*vertical-align: middle;*/
content: "";
/*height: 100%;*/
}
/*}*/
.modal-dialog{
    display: inline-block;
    /*text-align: center;*/
    vertical-align: middle;
}
#login-alert{
  position: relative;
  top: -110px;
}
/*.sidebar .dropdown-menu {*/
    /*position: static;*/
    /*float: none;*/
    /*width: auto;*/
    /*margin-top: 0;*/
    /*background-color: transparent;*/
    /*border: 0;*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
/*}*/
/*.sidebar > li{*/
  /*border-bottom: 1px #FFFFFF solid;*/
  /*position: relative;*/
  /*display: block;*/
/*}*/
/*.sidebar > li > a{*/
  /*padding-top: 15px;*/
  /*padding-bottom: 15px;*/
/*}*/
