{% extends 'nav.html' %}
{% load static %}

{% block title %}model index{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/sidebar.css" %}">
<!--<script src="https://d3js.org/d3.v4.min.js"></script>-->
<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js"></script>
<link rel="stylesheet" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css">
<script src="{% static "js/training.js" %}"></script>
<script>
  window.CSRF_TOKEN = "{{csrf_token}}";
  var project_id = {{project_id}};
</script>
<script>
$.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
});
$(document).ready(function(){
  $("#history-tab").on('click',function(){
    $.ajax({
      type: 'post',
      url: '/model/history_detail/',
      data: {
        'project_id': project_id,
        'csrfmiddlewaretoken': window.CSRF_TOKEN
      },
      success: function(data){
        $('#history').empty();
        $('#history').append(data);
      },
      error: function(xhr,status,error){
        alert(error);
      }
    });
  });
  $('#trainModel').click(function(){
    $.ajax({
      async:false,
      url: "/model/api/backend/",
      method:"POST",
      data:{
        command: "train",
        name: $('#expName').val(),
        project:'{{project_id}}'
      }
    });
  });
  $('#stopTrainModel').click(function(){
    $.ajax({
      async:false,
      url: "/model/api/backend/",
      method:"POST",
      data:{
        command: "stop",
        name: $('#expName').val(),
        project:'{{project_id}}'
      }
    });
  });
});

</script>
{% endblock %}

{% block content %}
  <ul class="nav nav-tabs" id="project-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="training-tab" data-toggle="tab" href="#training" role="tab" aria-controls="training" aria-selected="true">Training</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
    </li>
  </ul>
  <div class="tab-content" id="projectContent">
    <div class="tab-pane fade show active" id="training" role="tabpanel" aria-labelledby="training-tab">
      <div class="container">
        <div id="run-model" class="py-md-3 row justify-content-center">
          <div class="input-group col-md-4">
            <span class="input-group-addon" id="train-addon1">experiment name</span>
            <input class="form-control" type="text" placeholder="Default" aria-label="historyName" aria-describedby="train-addon1" id="expName">
          </div>
          <div class="btn-group">
            <button id="trainModel" class="btn btn-outline-primary"><i class="fa fa-play"></i> train model</button>
            <button id="stopTrainModel" class="btn btn-outline-primary" disabled><i class="fa fa-stop"></i> stop</button>
          </div>
          <button id="testModel" class="btn btn-outline-primary" style="display:none"><i class="fa fa-play"></i> evaluate</button>
        </div>
        <div class="row justify-content-center">
          <h2 class="col-md-2">Status</h2>
          <div class="col-md-5">
            <input id="txfStatus" type="input" class="form-control" readonly="true">
          </div>
        </div>
        <!--loading-->
        <div id="loadingDiv" class="text-center my-5">
          <h3>Loading...</h3>
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <!--error message-->
        <div id="errorDiv" class="row justify-content-center my-5">
          <h4 class="col-md-8 text-center">error log:</h4>
          <div class="w-100"></div>
          <textarea id="txfError" readonly="true" value= class="col-md-8" style="width:25rem; height:25rem; margin:auto; overflow:auto;">"error message shows here"</textarea>
        </div>
      </div>
      <!--training-->
      <div id="trainingDiv">
        <div class="col-md-12">
          <h3 class="text-center">Training</h3>
        </div>
        <div class="col-md-12 form-horizontal">
          <!--epoch-->
          <div class="form-group row">
            <label class="col-md-2 control-label">Epoch</label>
            <div class="col-md-9">
              <div class="form-control">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success barEpoch" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" name="training">0%</div>
                </div>
              </div>
            </div>
          </div>
          <!--progress-->
          <div class="form-group row">
            <label class="col-md-2 control-label">Progress</label>
            <div class="col-md-9">
              <div class="form-control">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated barProgress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;" name="training">0%</div>
                </div>
              </div>
            </div>
          </div>
          <!--loss-->
          <div class="form-group row">
            <label class="col-md-2 control-label">Loss</label>
            <div class="col-md-9">
              <input type="input" class="form-control txfLoss" readonly="true" name="training">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 control-label">Validation Loss</label>
            <div class="col-md-9">
              <input type="input" class="form-control txfLoss" readonly="true" name="validate">
            </div>
          </div>
        </div>
      </div>
      <div id="plotDiv" class="row justify-content-center">
        <div><h3>performance curve</h3></div>
        <div class="w-100"></div>
        <div style="width:600px;height:300px;">
        <svg style="border:1px solid #111;"></svg>
        </div>
      </div>
      <!--end training-->
    </div>
    <!--<div class="tab-pane fade" id="evaluation" role="tabpanel" aria-labelledby="evaluation-tab">-->
      <!--<div></div>-->
    <!--</div>-->
    <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
      <!--<div class="container-fluid" style="height:100%;">-->
        <!--<div class="row">-->
          <!--<div id="sidebar" data-children=".item">-->
              <!--{% for history in histories %}-->
                <!--<div class="item">-->
                  <!--<a href="#{{history.save_path}}" id="loadHistory{{history.name}}" class="d-flex" data-toggle="collapse" data-parent="#sidebar" data-history="{{history.id}}" aria-expanded="false" aria-controls="{{history.save_path}}">{{history.save_path}}</a>-->
                  <!--<div class="collapse" id="{{history.save_path}}" aria-labelledby="loadHistory{{history.name}}}">-->
                    <!--<div class="btn-group">-->
                      <!--<button class="d-flex btn btn-outline-light" value="download">download</button>-->
                      <!--<button class="d-flex btn btn-outline-light" value="delete">delete</button>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--{% endfor %}-->
          <!--</div>-->
          <!--<div id="history-page">-->
            <!--<h3>Select an execute history from sidebar to view its detail.</h3>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
{% endblock %}
