{% extends 'nav.html' %}
{% load static %}

{% block title %}training history{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static "css/sidebar.css" %}">
<script>
  window.CSRF_TOKEN = "{{csrf_token}}";
</script>
<script src="{% static "js/history.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar" data-children=".item">
        {% for history in histories %}
          <div class="item">
            <a href="#{{history.save_path}}" id="loadHistory{{history.name}}" class="d-flex" data-toggle="collapse" data-parent="#sidebar" data-history="{{history.id}}" aria-expanded="false" aria-controls="{{history.save_path}}">{{history.name}}</a>
            <div class="collapse" id="{{history.save_path}}" aria-labelledby="loadHistory{{history.name}}}">
              <form action={% url "model:history_detail" %} method="post" name="historyActionForm">
                {% csrf_token %}
                <input type="hidden" name="history" value={{history.id}}>
                <div class="history-btns">
                  <button class="history-btn" type="submit" name="action" value="download" {% if history.status != "success" %}disabled{% endif %}><i class="fa fa-download"></i></button>
                  <button class="history-btn" type="submit" name="action" value="evaluate" {% if history.status != "success" %}disabled{% endif %}><i class="fa fa-play"></i></button>
                  <button class="history-btn" type="submit" name="action" value="delete"><i class="fa fa-trash"></i></button>
                </div>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
      <div id="history-detail">
        {% if history %}
          {% include_chart_jscss %}
          {% load_chart charttype chartdata chartcontainer extra %}
          <span class="time-text">training time:  {{history.executed}}</span>
          <form class="evaluation-form" enctype="multipart/form-data" action="{% url "model:backend_api"%}" method="post">
            {% csrf_token %}
            Run prediction
            <select id="evaluate-dataset" onchange="setDataset(this)">
              <option value="test">using test dataset</option>
              <option value="custom">by uploading dataset</option>
            </select>
            <input type="hidden" name="command" value="predict"/>
            <input type="hidden" name="project" value="{{history.project.id}}"/>
            <input type="hidden" name="history" value="{{history.id}}"/>
            <input type="hidden" name="dataset" value="test"/>
            <label class="buttons-sm" id="pred-label" for="prediction-file">
              <input id="prediction-file" style="display:none;" name="file" type="file"/>
              upload
            </label>
            <button class="buttons-sm" type="submit">GO <i class="fa fa-play"></i></button>
            <!--<button class="buttons-sm" id="run-evaluation" onclick="runEvaluation({{history.project.id}})">GO<i class="fa fa-play"></i></button>-->
          </form>
          <div id="history-plot" class="text-center">
            <h1>loss</h1>
            {% include_container chartcontainer 400 '100%' %}
            <div class="mb-3"></div>
          </div>
          <div class="alert alert-dark" role="alert">sample size: 100000</div>
          <div class="alert alert-dark" role="alert">epochs: {{epochs}}</div>
          <div class="alert alert-dark" role="alert">best validation loss: {{best_val}} at epoch {{best_epoch}}</div>
        {% elif status %}
          <h2>training not complete.</h2>
          <h4>training time: {{executed}}, {{status}}</h4>
        {% else %}
          <h3>Select an execute history from sidebar to view its detail.</h3>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
