{% extends 'nav.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}model index{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% sass_src "scss/project_view.scss" %}">
  <script>
    function setDeleteId(text){
      $("#delete-id").val(text);
    };
    function openProject(title){
      $.ajax({
        url: "{% url "model:manage_editor" %}",
        method: "GET",
        data:{
          action: "open",
          target: title
        },
        success: function(data){
          window.open("{% url "model:manage_editor" %}");
        }
      });
    };
    function closeProject(){
      $.ajax({
        url: "{% url "model:manage_editor" %}",
        method: "GET",
        data:{
          action: "close"
        }
      });
    };
    function copyTextValue(bf) {
      <!--var text1 = bf.checked ? document.getElementById("projectTitle").value : '';-->
      var text1 = $("#projectTitle").val();
    };
    $('document').ready(function(){
      <!--$('editorOpen').on('click.open', function(e) { e.preventDefault(); window.open('{% url "model:manage_editor" %}') });-->
      if($('.project-container').width()<1050){
        $('button[name=editorOpen]').html(
          '<i class="fa fa-edit"></i>edit');
        $('button[name=editorClose]').html(
          '<i class="fa fa-window-close"></i>close');
        $('a[name=projectPage]').html(
          '<i class="fa fa-bar-chart"></i>execute');
      }
      $(window).resize(function(){
        if($('.project-container').width()<1050){
          $('button[name=editorOpen]').html(
            '<i class="fa fa-edit"></i>edit');
          $('button[name=editorClose]').html(
            '<i class="fa fa-window-close"></i>close');
          $('a[name=projectPage]').html(
            '<i class="fa fa-bar-chart"></i>execute');
        }else{
          $('button[name=editorOpen]').html(
            '<i class="fa fa-edit"></i>open editor');
          $('button[name=editorClose]').html(
            '<i class="fa fa-window-close"></i>close editor');
          $('a[name=projectPage]').html(
            '<i class="fa fa-bar-chart"></i>execute model');
        }
      });
    });
  </script>
{% endblock %}

{% block content %}
  <div class="project-container">
    {% if messages %}
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Create project error</h4>
      {% for message in messages %}
      <p>{{message}}</p>
      {% endfor %}
    </div>
    {% endif %}
    <div class="card" style="box-shadow:1px 1px #CCC;">
      <h4 class="card-header">
        All projects
        <span class="card-right">
          <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#newProjectModal"><i class="fa fa-plus" style="margin:0 10px 0 0;"></i><span> CREATE</span></button>
        </span>
      </h4>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">title</th>
              <th scope="col">status</th>
              <th scope="col">last modified</th>
              <th scope="col">training counts</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            {% for project in projects %}
            <tr>
              <th scope="row">{{ project.id }}</th>
              <td>{{ project.title }}</td>
              <td>{{ project.status }}</td>
              <td>{{ project.modified|date:'Y-m-d H:i' }}</td>
              <td>{{ project.training_counts }}</td>
              <td>
                <div class="buttons-group">
                {% if project.status != "editing" %}
                <!--<a id="editorOpen" target="_blank" href="{% url "model:manage_editor" %}" class="btn btn-sm btn-outline-primary" onclick="openProject(&#39;{{project.title}}&#39;)"><i class="fa fa-external-link"></i> open editor</a>-->
                <button name="editorOpen" class="buttons-sm" onclick="openProject(&#39;{{project.title}}&#39;)"><i class="fa fa-edit"></i> open editor</button>
                {% else %}
                <button class="buttons-sm" onclick="closeProject()"><i class="fa fa-window-close"></i> close editor</button>
                {% endif %}
                <a href="{% url "model:project_detail" project.id %}" class="buttons-sm" name="projectPage"><i class="fa fa-bar-chart"></i> execute model</a>
                </div>
              </td>
              <td>
                <button type="button" class="buttons-sm buttons-red" data-toggle="modal" data-target="#confirmDelete" onclick="setDeleteId({{project.id}})"><i class="fa fa-times"></i> delete</button>
              </td>
            </tr>
            {% empty %}
              <tr class="table-active"><td colspan="7" class="text-center">No projects yet.</td></tr>
            {% endfor %}
          </thead>
        </table>
      </div>
      <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <!--<div class="modal-header">-->
              <!--<div></div>-->
            <!--</div>-->
            <div class="modal-body">
              <form method="post" action="{% url "model:index" %}">
                {% csrf_token %}
              <h5>Confirm project deletion:</h5>
            <!--</div>-->
            <!--<div class="modal-footer">-->
              <button type="button" class="buttons-sm buttons-grey" data-dismiss="modal">Cancel</button>
              <input type="hidden" id="delete-id" name="delete-project" value="">
              <button type="submit" class="buttons-sm">Yes</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="newProject" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3>New Project</h3>
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{% url "model:index" %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="projectTitle">Project title:</label>
                  <input type="text" class="form-control" id="projectTitle" placeholder="Enter title" name="title" onchange="copyTextValue(this);"> 
                </div>
                <button type="submit" class="buttons-sm">create</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
