#mwt_mwt_slider_scroll
{
	top: 50px;
	left:-360px;
	width:360px;	
	position:absolute;
	z-index:9999;
}

#mwt_slider_content{
	background:#3c5a98;
	text-align:center;
	padding-top:20px;
}

#mwt_tab {
	position:absolute;
	top:20px;
	right:-24px;
	width:24px;
	background:#444e56;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;	
	text-align:center;
	padding:9px 0;

	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;	
}
#mwt_tab span {
	display:block;
	height:12px;
	padding:1px 0;
	line-height:12px;
	text-transform:uppercase;
	font-size:12px;
}
