// Color Variables
$green-jade: #468966;
$green-macha: #def9ea;
$yellow-bright: #FFF0A5;
$orange-light: #FFB03B;
$orange-dark: #FD7400;
$red-gentle: #B64926;
$red-dark: #721c24;
$red-light: #E74C3C;
$red-harsh: #8E2800;
$red-danger: #dc3545;
$blue-navy: #2C3E50;
$white-imperfect: #ECF0F1;
$blue-sky: #3498DB;
$blue-darksky: #2980B9;
$teal: #1F8A70;
$green-hazard: #BEDB39;
$yellow-banana: #FFE11A;
$pink-hot: #F2385A;
$pink-gentle: #D95B5B;
$pink-danger: #F8D7DA;
$blue-lighter: #4AD9D9;
$blue-light: #0366d6;
$brown-wooddark: #D95B5B;
$brown-wood: #BF8A49;
$brown-woodlight: #F2CA80;
$skin-base: #FFC794;
$skin-pale: #FADBAE;
$skin-tan1: #FFA16D;
$skin-tan2: #E87551;
$skin-tan3: #FF7865;
$purple-dark: #5C2849;
$gold-light: #FFDA66;
$gold-dark: #FFCC33;
$metal-iron: #EFEFEF;
$metal-irondark: #5F5F5F;
$metal-silver: #BFBFBF;
$metal-dark: #2F2F2F;
