@import "style.scss";

.nav-div {
  background-color: $green-macha;
}
.example-nav {
  max-width: 800px;
  margin: 0px auto 0;
  padding-top: 5px;
  //background: $green-jade;
  display: flex;
  .nav-item {
    padding: 8px 15px;
    a {
      text-decoration: none; 
      color: $metal-irondark;
      padding: 8px 15px;
      &:hover {color: $metal-dark;}
    }
    &.active {
      background: #FFF;
      border: 1px solid $metal-iron;
      border-bottom: 0;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
   }
}
.example-table {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid $metal-iron;
  border-top: 0;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  .example-row {
    border-top: 1px solid $white-imperfect;
    td {
      padding: 6px 3px;
    }
    .title {
      max-width: 180px;
      padding-left: 10px;
    }
    .description {
      max-width: 150px;
      padding-left: 10px;
    }
    .action {
      max-width: 150px;
      padding-left: 10px;
    }
  }
}
