@import "colors.scss";
.project-container {
    min-width: 960px;
    padding: 1rem;
}

#project-tabs {
  margin: 0 auto;
  width: 800px;
  background-color: #F5F5F5;
  font-weight: 500;
  a {color: #111;}
  .nav-link:hover {
    background: #FFF;
  }
}
.pagehead {
  background-color: #F5F5F5;
}
.pagecontainer {
  min-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.page-center {
  width: 800px;
  margin: 8px auto;
}
#loadingDiv {
  width: 800px;
  margin: 5em auto;
  text-align: center;
}
#trainingDiv {
  min-width: 800px;
  margin: 0 auto;
}
#errorDiv {
  width: 800px;
  margin: 5em auto;
  h4 {
    margin: 1rem auto;
    text-align: center;
  }
  textarea {
    width: 100%;
    height: 400px;
    margin: auto;
    overflow: auto;
  }
}
#plotDiv {
  width: 800px;
  text-align: center;
  margin: 2rem auto;
}
.exp-name {
  margin-top: 10px;
  display: inline-block;
  padding: 8px;
  input {
    border: none;
    border-bottom: 1px solid #111;
  }
}
.exp-btns {
  display: inline-block;
}
.status-line {
  width: 800px;
  margin: 8px auto;
  display: flex;
  align-items: center;
  h2 {
  width: 100px;
  padding-right: 8px;
  }
}
ul.breadcrumb {
  background-color: #f5f5f5;
  width: 800px;
  margin: 0px auto;
  padding: 8px 15px;
  font-size: 24px;
  li {
    display: inline-block;
    &:not(:first-child)::before {
      padding-right: .5rem;
      padding-left: .5rem;
      content: "/"
    }
  }
  a {
    display: inline;
    color: $green-jade;
  }
}
