@import "colors.scss";

.upload-dataset-form {
    display: none;
    position: fixed;
    top: 55px;
    left: 0;
    padding-top: 20px;
    width: 100%;
    height: calc(100vh);
    z-index: 99;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.form-content {
    background-color: #FEFEFE;
    max-height: calc(100vh - 10rem);
    overflow: auto;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 800px;
}
.close {
    color: #AAAAAA;
    float: right;
    font-weight: bold;
    cursor: pointer;
}
.dataset-loading {
    display: none;
    position: fixed;
    bottom: 0;
}
.headerbar {
    height: 4rem;
    background: #FFF;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
    z-index: 10;
}
.add-btn {
    top: -8px;
    padding: 5px 20px 3px 20px;
    &:active {top: -3px;}
    //position: relative;
    //top: -3px;
    //padding: 6px 25px;
    //color: #FFF;
    //border: none;
    //border-radius: 3px;
    //background: #007BFF;
    //&:hover {
        //box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
        //transition: ease .3s;
    //}
}
.modal-btn {
    position: relative;
    top: -3px;
    padding: 6px 25px;
    margin-right: 1rem;
    color: #FFF;
    border: none;
    border-radius: 3px;
    background: #4d94ff;
    &:hover {
        box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
        transition: ease .3s;
    }
}
#dataset-header{
    margin: 13px 30px;
    display: inline-block;
}
.filetype-badge{
    font-size: .4rem;
    padding: 2px 8px;
    border-radius: 4px;
    color: #FFF;
    box-shadow: -1px -1px 0 #CCC, 1px 1px 0 #111, 3px 3px 10px rgba(0,0,0,0.3);
}
.flex-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-width: 800px;
}
.dataset-container {
    //width:
    flex: 1;
}
#info-sidebar {
    height: calc(100vh - 120px);
    width: 320px;
    overflow: auto;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    transition: width 0.3s;
}
.sidebar-content {
    margin: 1.5rem;
}
.item-title {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.item-name {
    display: inline-block;
    width: 100px;
    margin: 0.3rem 0;
    color: #777;
}
.item-content {
    display: inline-block;
    width: 150px;
    /*align-items: center;*/
}
#dataset-table {
    //flex: 1 1 calc(100% - 320px);
    flex: 1;
    margin: 1.2rem;
    overflow: auto;
    background: #FFF;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}
#dataset-table ul {
    margin: 0;
    padding: 0;
}
#dataset-table li {
    list-style-type: none;
    padding: 0 2.5rem;
}
#dataset-table li:hover {
    color: rgba(0,0,0,0.7);
    background-color: #FFF;
}
#dataset-table li+li {
    border-top: 1px solid rgba(0,0,0,0.3);
}
#no-dataset {
    height: 5rem;
    padding: 25px 30px;
    font-size: 20px;
    font-family: Sans-serif;
}
.li-item-name {
    display: inline-block;
    text-decoration: none;
    font-family: Sans-serif;
    font-size: 20px;
    padding: .5rem;
}
.li-item-name:hover {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    text-decoration: none;
}
#btn-group {
    position: relative;
    float: right;
}
.action-btn {
    width: 1.8rem;
    height: 1.8rem;
    background: none;
    border: none;
    border-radius: 50%;
    color: #5B90BF;
    cursor: pointer;
    margin-top: .6rem;
}
.action-btn:hover {
    //font-size: 20px;
    color: #007BFF;
}
