@import "style.scss";

.nav-div {
  background-color: $green-macha;
}
.example-nav {
  width: 800px;
  margin: 0px auto 0;
  padding-top: 5px;
  background-color: $green-macha;
  display: flex;
  .nav-item {
    padding: 8px 15px;
    a {
      text-decoration: none; 
      color: $metal-irondark;
      padding: 8px 15px;
      &:hover {color: $metal-dark;}
    }
    &.active {
      background: #FFF;
      border: 1px solid $metal-iron;
      border-bottom: 0;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
   }
}
.example-table {
  width: 800px;
  margin: 15px auto;
  border: 1px solid $metal-iron;
  border-radius: 5px;
  display: flex;
  .example-row {
    &:not(:first-child){
    border-top: 1px solid $white-imperfect;
    }
    td {
      padding: 6px 3px;
    }
    .title {
      max-width: 80px;
      padding-left: 10px;
    }
    .description {
      max-width: 400px;
      padding-left: 10px;
    }
    .format {
      width: 120px;
    }
    .action {
      transform: translateY(-3px);
      width: 90px;
      padding-left: 10px;
      .buttons-sm {
        display: inline-block;
        width: 32px;
        height: 27px;
      }
    }
  }
}
