@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
body, html {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans"; }
  body .canvas, html .canvas {
    width: 600px;
    height: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px 1px #bbb; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #0366d6; }

#site-navbar {
  z-index: 200; }

.bg-blue {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); }

.buttons {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  cursor: pointer; }

a.buttons, .buttons {
  color: white;
  background: #468966;
  position: relative;
  top: 0px;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0px 10px 0px 0px #3d7859, 0px 0px 20px 0px #bbb;
  transition: all 0.2s; }
  a.buttons:active, .buttons:active {
    top: 5px;
    box-shadow: 0px 5px 0px 0px #3d7859; }
  a.buttons:disabled, .buttons:disabled {
    top: 5px;
    background: #bedbcc;
    box-shadow: none;
    box-shadow: 0px 2px 0px 0px #aed2bf; }

a.buttons:hover, a.buttons-sm:hover {
  color: white;
  text-decoration: none; }

.buttons-sm {
  color: white;
  background: #468966;
  position: relative;
  top: 0px;
  margin: 0;
  padding: 1.5px 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 5px 0px 0px #3d7859, 0px 0px 15px 0px #bbb;
  transition: all 0.2s; }
  .buttons-sm:active {
    top: 3px;
    box-shadow: 0px 2px 0px 0px #3d7859; }
  .buttons-sm.disabled {
    top: 3px;
    opacity: .65;
    box-shadow: 0px 2px 0px 0px #aed2bf; }
  .buttons-sm:disabled {
    top: 3px;
    opacity: .65;
    box-shadow: 0px 2px 0px 0px #aed2bf; }

.buttons-grey {
  background: #BFBFBF;
  box-shadow: 0px 5px 0px 0px #b2b2b2, 0px 0px 15px 0px #bbb; }
  .buttons-grey:active {
    top: 3px;
    box-shadow: 0px 2px 0px 0px #b2b2b2; }
  .buttons-grey:disabled {
    box-shadow: 0px 2px 0px 0px #aed2bf; }

.buttons-red {
  background: #dc3545;
  box-shadow: 0px 5px 0px 0px #d32535, 0px 0px 15px 0px #bbb; }
  .buttons-red:active {
    top: 3px;
    box-shadow: 0px 2px 0px 0px #d32535; }
  .buttons-red:disabled {
    box-shadow: 0px 2px 0px 0px #aed2bf; }

.buttons-group {
  display: flex; }
  .buttons-group .buttons-sm:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .buttons-group .buttons-sm:not(:last-child):not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0px 5px 0px 0px #3d7859; }
    .buttons-group .buttons-sm:not(:last-child):not(:first-child):before {
      content: "";
      background: white;
      position: absolute;
      width: .05rem;
      height: 1rem;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
    .buttons-group .buttons-sm:not(:last-child):not(:first-child):active {
      top: 3px;
      box-shadow: 0px 2px 0px 0px #3d7859; }
  .buttons-group .buttons-sm:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0px 5px 0px 0px #3d7859; }
    .buttons-group .buttons-sm:last-child:not(:first-child):before {
      content: "";
      background: white;
      position: absolute;
      width: .05rem;
      height: 1rem;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
    .buttons-group .buttons-sm:last-child:not(:first-child):active {
      top: 3px;
      box-shadow: 0px 2px 0px 0px #3d7859; }

a.overview-btn {
  text-decoration: none;
  float: right;
  top: -45px; }
  a.overview-btn:active {
    top: -42px; }
  a.overview-btn:hover {
    color: #EEE; }

#logo {
  text-align: center;
  img-vertical-align: middle;
  span-vertical-align: middle;
  span-font-size: 1em;
  span-margin-left: .2em; }

.info-message {
  background: #FFF0A5;
  color: #B64926;
  border: 1px solid #FFC794;
  margin: 1.2rem;
  padding: 0 10px; }

.error-message {
  background: #F8D7DA;
  color: #dc3545;
  border: 1px solid #dc3545;
  margin: 1.2rem;
  padding: 0 10px; }

.main-content {
  min-height: calc(100vh - 56px);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  overflow: auto; }
  @media only screen and (max-width: 576px) {
    .main-content {
      width: 100%;
      padding: 2rem; } }
  @media only screen and (min-width: 577px) and (max-width: 767px) {
    .main-content {
      width: 100%;
      padding: 2rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-content {
      max-width: 800px;
      padding: 3rem 0; } }
  @media only screen and (min-width: 1025px) {
    .main-content {
      max-width: 800px;
      padding: 3rem 0; } }

.overview-content {
  min-height: calc(100vh - 56px);
  margin: 0 auto; }
  @media only screen and (max-width: 576px) {
    .overview-content {
      width: 100%;
      padding: 2rem; } }
  @media only screen and (min-width: 577px) and (max-width: 767px) {
    .overview-content {
      width: 100%;
      padding: 2rem; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .overview-content {
      max-width: 800px;
      padding: 3rem 0; } }
  @media only screen and (min-width: 1025px) {
    .overview-content {
      max-width: 800px;
      padding: 3rem 0; } }

.overview-table {
  width: 100%;
  background: #FFF;
  padding: 1rem; }

.overview-box {
  border: 1px #D1D5DA solid;
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 1rem; }

.main-link-btns {
  margin-top: 3rem;
  width: 100%;
  text-align: center; }
  @media only screen and (max-width: 576px) {
    .main-link-btns {
      margin-top: 2rem; }
      .main-link-btns .buttons {
        display: inline-block;
        width: 85%;
        margin: 0 auto;
        padding: 5px 12px; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-link-btns {
      margin-top: 2rem; }
      .main-link-btns .buttons {
        display: inline-block;
        width: 85%;
        margin: 0 auto; } }

.main-link-text {
  display: inline-block;
  top: 20px;
  position: relative;
  text-align: center; }
  @media only screen and (max-width: 576px) {
    .main-link-text {
      width: 100%;
      margin: 5px 0 15px 0; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-link-text {
      width: 100%;
      margin: 10px 0 22px 0; } }

#feature {
  padding: 75px 0; }

#history-list {
  position: -webkit-sticky;
  position: sticky;
  /*top: 4rem;*/
  z-index: 1000;
  max-height: calc(100vh - 4rem);
  height: calc(100vh - 6rem);
  width: 25%; }

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  vertical-align: top;
  overflow: hidden; }

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0; }

#history-pagenation {
  position: absolute;
  padding: 0px 50px;
  bottom: 0; }

.copyrightFooter {
  position: fixed;
  color: #BFBFBF;
  bottom: 0;
  width: 100%;
  background-color: #F5F5F5;
  z-index: 10; }

.card-right {
  position: absolute;
  right: 55px; }

.modal {
  text-align: center; }

/*@media screen and (min-width: 768px){*/
.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%; }

#login-card:before {
  display: inline-block;
  /*vertical-align: middle;*/
  content: "";
  /*height: 100%;*/ }

.modal-dialog {
  display: inline-block;
  /*text-align: center;*/
  vertical-align: middle; }

#login-alert {
  position: relative;
  top: -110px; }

.title {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #EEE; }

.result-container {
  display: flex;
  margin: 10px auto;
  padding: 0 auto;
  justify-content: center;
  align-items: center;
  width: 1200px;
  min-height: 400px;
  overflow: auto; }

.load-div {
  height: 400px;
  text-align: center; }

.plot-frame {
  width: 400px;
  height: 300px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.input-div {
  width: 400px;
  height: 400px;
  padding: 1rem;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center; }
  .input-div img {
    display: block;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    object-fit: cover; }

.arrow-block {
  font-size: 5rem;
  margin: 0 2rem; }

.result-div {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .result-div form {
    display: flex;
    justify-content: center; }

.action-div {
  text-align: center; }

/*# sourceMappingURL=../../../../../../../../static/scss/predict.css.map */