.main {
  margin: auto auto;
  padding: 5rem 0 0 0;
  width: 400px;
}
.signup-box {
  padding: 25px;
  background: #F0F0F0;  
}
.signup-box input, .signup-box input[type=text] {
  width: 100%;
}
label {
  font-weight: bold;
}
.input-field {
  margin: 0 0 20px 0;
}
/*input[type=submit] {*/
  /*border-radius: 5px;*/
  /*width: auto;*/
  /*height: 40px;*/
  /*padding: 0 13px;*/
  /*color: #FFF;*/
  /*background-color: #4d90FF;*/
  /*border: 1px solid #3079ED;*/
/*}*/
.errorlist li {
  color: #FF0000;
}
