@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
body, html {
  margin: 0;
  padding: 0;
  background: rgba(153, 255, 153, 0.1);
  font-family: "Fira Sans";
  text-align: center; }
  body .canvas, html .canvas {
    width: 600px;
    height: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px 1px #bbb; }
  body .foot-wrapper, html .foot-wrapper {
    color: #BFBFBF;
    float: left;
    poisition: absoulte; }
  body .footer, html .footer {
    margin-top: 100vh;
    margin-left: 20px; }

.buttons {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

a {
  text-decoration: none;
  color: white;
  background: #BEDB39;
  position: relative;
  margin: 30px;
  top: 10px;
  padding: 16px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 0px 0px #b5d427, 0px 0px 20px 0px #bbb;
  transition: all 0.2s; }

a:active {
  top: 15px;
  box-shadow: 0px 5px 0px 0px #b5d427; }

.button1 {
  background-color: #F2385A; }

.button2 {
  background-color: #3498DB;
  box-shadow: 0px 10px 0px 0px #258cd1; }
  .button2:active {
    box-shadow: 0px 5px 0px 0px #258cd1; }

#logo {
  text-align: center;
  img-vertical-align: middle;
  span-vertical-align: middle;
  span-font-size: 1em;
  span-margin-left: .2em; }

#project {
  background-color: #02d199;
  padding: 75px 0; }

.home-link-btn {
  border-radius: 35px;
  border: 1px solid #809fff;
  background: linear-gradient(to bottom, #3366ff, #002db3);
  padding: 12px 20px;
  color: #eaeffc;
  transition: all .4s; }

.home-link-btn:hover {
  color: #FFF;
  background: #3366ff;
  text-decoration: none; }

#feature {
  padding: 75px 0; }

/*padding:50px 0;*/
#history-list {
  position: -webkit-sticky;
  position: sticky;
  /*top: 4rem;*/
  z-index: 1000;
  max-height: calc(100vh - 4rem);
  height: calc(100vh - 6rem);
  width: 25%; }

#history-detail {
  padding: 30px 30px;
  width: 75%; }

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  vertical-align: top;
  overflow: hidden; }

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0; }

#history-pagenation {
  position: absolute;
  padding: 0px 50px;
  bottom: 0; }

.copyrightFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #F5F5F5;
  z-index: 10; }

.card-right {
  position: absolute;
  right: 55px; }

.modal {
  text-align: center; }

/*@media screen and (min-width: 768px){*/
.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%; }

#login-card:before {
  display: inline-block;
  /*vertical-align: middle;*/
  content: "";
  /*height: 100%;*/ }

.modal-dialog {
  display: inline-block;
  /*text-align: center;*/
  vertical-align: middle; }

#login-alert {
  position: relative;
  top: -110px; }

/*# sourceMappingURL=../../../../../../../static/scss/style.css.map */