{% extends 'nav.html' %}
{% load static %}
{% load sass_tags %}
{% block title %}example projects{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% sass_src "scss/demo_example.scss" %}">
  <script src={% static "js/example.js" %}></script>
{% endblock %}

{% block content %}
  <div class="nav-div">
    <div class="example-nav">
      <span class="nav-item active">
        <a href="">projects</a>
      </span>
      <span class="nav-item">
        <a href="{% url "examples_dataset" %}">Datasets</a>
      </span>
    </div>
  </div>
  <div class="message-div" style="width:800px;margin:0 auto;">
    {% if error_message %}
      <div class="error-message">
        {{error_message}}
        <button class="close" data-dismiss="error-message"><span aria-hidden="true">&times;</span></button>
      </div>
    {% elif info %}
      <div class="info-message">
        {{info}}
        <button class="close" data-dismiss="info-message"><span aria-hidden="true">&times;</span></button>
      </div>
    {% endif %}
  </div>
  <div class="preview-modal">
    <img src="" alt="">
  </div>
  <div class="description-modal">
    <p></p>
  </div>
  <div class="example-table">
    <table style="width:100%;">
      {% for project in projects %}
        <tr class="example-row">
          <td class="title">{{ project.title }}</td>
          <td class="description"><p name="description-link" data-id="{{project.id}}">{{ project.description|truncatechars:75 }}<p></td>
          <td class="action">
            <button class="buttons-sm" data-title="{{ project.title }}" name="preview"><i class="fa fa-eye"></i> preview</button>
              <form action="" method="post" style="display:inline-block;">
                {% csrf_token %}
                <input type="hidden" name="id" value={{project.id}}>
                <button class="buttons-sm" type="submit"><i class="fa fa-copy"></i> copy</button>
              </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
