{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
<form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %} {{ form.email.errors }} {% endif %}
  <p>Enter your email for resetting your password.</p>
  <div class="input-group mb-2">
    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
    <input class="form-control" name="email" type="email" value="" placeholder="Email address">
  </div>
  <input type="submit" class="btn btn-primary btn-lg" value="Reset password"/>
</form>
  </div>
</div>
{% endblock %}
