{% load static %}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{% block title %}{% endblock %}</title>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <!-- FONTS -->
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
      <!-- Latest compiled and minified CSS -->
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css'>
      <!--<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>-->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script> 
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
      <script src='https:/maxcdn.bootstrapcdn.com/font-awesome/4.7.0/js/font-awesome.min.js'></script>
      <script>
      var array = {'dataset':{'url':'/dataset/','name':'data'},
      'model':{'url':'/model/','name':'model'},'analysis':{'url':'/model/results/','name':'analysis'}};
         $(document).ready(function() {
			var pageUrl = document.URL.match(/\/(\w+\/)+$/);
			//var pageUrl = document.location.href.match(/[^\/]+$/);
			var pageName =''; 
      if (pageUrl != null){
        pageName = pageUrl[0]};
         	//create content of #navList
         	$.each(array, function(key, value){
         		var li = $('<li></li>').attr('class','nav-item');
            if(pageName == key || pageName == key+'/' || pageName == value['url']) li.attr('class', 'active');//select page
            var anchor = $('<a></a>').attr({'href':value['url'], 'class':'nav-link'}).text(value['name']);
         		li.append(anchor);
         		$('#navList').append(li);
         	});
         });
      </script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <!--<div class="container-fluid">-->
        <!--homepage-->
        <a class="navbar-brand" href="#">
        <img src="{% static "img/logo.png" %}" style="display: inline-block; height: 30px; margin-top: -5px"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--links-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul id="navList" class="navbar-nav mr-auto">
            <!--content create by js-->
          </ul>
        </div>
      <!--</div>-->
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
