{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{% block title %}{% endblock %}</title>
      <meta charset='utf-8'>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <!-- FONTS -->
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
      <!-- Latest compiled and minified CSS -->
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css'>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="{% sass_src "scss/style.scss" %}">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script> 
      <script>
      var array = {
        'model':{'url':'/model/','name':'project'},
        'dataset':{'url':'/dataset/','name':'dataset'},
        'examples':{'url':'/examples/','name':'examples'},
        'document':{'url':'/media/petpen.pdf','name':'document'},
      };
         $(document).ready(function() {
          var leftOffset = parseInt($("#site-navbar").css('left')); //Grab the left position left first
          $(window).scroll(function(){
            $('#site-navbar').css({
              'left': $(this).scrollLeft() + leftOffset //Use it later
            });
          });
			var pageUrl = document.URL.match(/\/(\w+\/)+$/);
			//var pageUrl = document.location.href.match(/[^\/]+$/);
			var pageName =''; 
      if (pageUrl != null){
        pageName = pageUrl[0]};
         	//create content of #navList
         	$.each(array, function(key, value){
         		var li = $('<li></li>').attr('class','nav-item');
            if(pageName == key || pageName == key+'/' || pageName == value['url']) li.attr('class', 'active');//select page
            if(value['name']=='document'){
              var anchor = $('<a></a>').attr({'href':value['url'], 'class':'nav-link', 'target':'_blank'}).text(value['name']);
            }else{
            var anchor = $('<a></a>').attr({'href':value['url'], 'class':'nav-link'}).text(value['name']);
            }
         		li.append(anchor);
         		$('#navList').append(li);
         	});
         });
      </script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <nav id="site-navbar" class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'main' %}">
        <!--<img src="{% static "img/logo.png" %}" style="display: inline-block; height: 30px; margin-top: -5px"/>-->
        <span style="color:#BEDB39;">Pet</span><span>Pen</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--links-->
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul id="navList" class="navbar-nav mr-auto">
          <!--content create by js-->
        </ul>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a href="" class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user}}<span class="caret"></span></a>
            <div id="account" class="dropdown-menu dropdown-menu-right" aria-labelledby="acount-functions">
              <a href="{% url "password_change" %}" class="dropdown-item">change password</a>
              <a href="{% url "logout" %}" class="dropdown-item">logout</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url "login" %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
